.workcard {
  background-color: var(--btn-background);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.workcard:hover {
  transform: translateY(-5px);
}

.workcard-title {
  color: var(--foreground);
  font-size: 1.2em;
  margin-bottom: 5px;
}

.workcard-description {
  color: var(--foreground);
  font-size: 1em;
}
